[2015-12-18 20:26] ellisonleao opened #1 "add example page"

[2015-12-19 15:07] ellisonleao commented on #1
http://ellisonleao.github.io/sharer.js/

[2015-12-19 15:07] #1 closed

[2015-12-19 15:57] ellisonleao opened #3 "add bower package"

[2015-12-19 16:12] #3 closed

[2015-12-24 07:45] nvartolomei commented on #1
Looks like examples do not work.

[2015-12-24 12:21] ellisonleao commented on #1
Hey @nvartolomei  what examples are you trying?

[2015-12-24 14:45] luizbills opened #5 "Add LICENSE file"

[2015-12-24 17:49] ellisonleao opened #6 "add JSDoc"

[2015-12-24 18:20] #5 closed

[2015-12-24 18:45] #6 closed

[2015-12-25 21:30] ellisonleao opened #7 "add tumblr and pinterest"
- https://www.tumblr.com/docs/br/share_button
- https://developers.pinterest.com/tools/widget-builder/

[2015-12-26 02:22] #7 closed

[2016-01-03 12:44] ellisonleao opened #10 "tests?"

[2016-01-07 09:15] thejae opened #11 "Button class"
Instead of using button, i would like to use a div instead

[code]
This seems to work fine until I remove the `.button` class. Since this conflicts with bootstrap, I don't want to use this class name. Is it possible to user `.sharer` class on its own?

[2016-01-07 09:53] thejae commented on #11
Update.

My bad, seems like i had some CSS conflicts.

[2016-01-07 09:53] #11 closed

[2016-01-07 15:06] ellisonleao commented on #11
Hey @thejae , did everything went well? Hope to see sharer.js being used on sites.

[2016-01-08 03:04] thejae commented on #10
Do you have a roadmap/ feature list you want help for?

[2016-01-08 03:08] thejae commented on #11
Yes, rather stupid. Some elements had higher z-index and covering the sharer icon.

It's a decent plugin, am surprised it has such a small community activity.

[2016-01-08 12:21] ellisonleao commented on #11
Yeah, it is a very new plugin. I hope we can share on more places.

[2016-01-08 12:23] ellisonleao commented on #10
Yeah, we need to make some mocha tests to make sure the elements are having the event listener attached when creating it.  We also need a travis file to make the CI ongoing.

[2016-01-14 23:37] joseluisq opened #12 "Commonjs support"
I think it's necessary [Commonjs](http://requirejs.org/docs/commonjs.html) support for using Sharerjs like Nodejs module ([browserify](https://github.com/substack/node-browserify), [Webpack](https://webpack.github.io/), etc) and [Requirejs](http://requirejs.org/) (AMD).

[2016-01-15 14:07] ellisonleao commented on #12
Hey @joseluisq  thanks for the feedback. However since that lib does not expose any API, how can a js module could help in this case?

[2016-01-15 16:13] joseluisq commented on #12
The reason is because **[npm is for all javascript](http://maxogden.com/node-packaged-modules.html)**, front or backend alike.
In fact, Browserify brings Nodejs modules to client side.

[2016-01-15 16:22] joseluisq commented on #12
Here some idea:
[code]

[2016-01-16 14:01] ellisonleao commented on #12
hey @joseluisq i am still not conviced this could actually bring some cool stuff to that lib. The reason i've created it is to keep it simple as possible, and i believe creating modules and stuff i will lose that "simplicity".  I will stick with a simple js lib for now, thanks.

[2016-01-16 14:01] #12 closed

[2016-01-19 20:20] needim opened #16 "AMD support?"
Hello!
Would like to use it with RequireJS as define module.

[2016-01-19 20:36] ellisonleao commented on #16
Hey @needim , there is no plans for making AMD support on this lib for now. I am trying to keep it simple and small for now. Please check https://github.com/ellisonleao/sharer.js/issues/12

[2016-01-19 20:36] #16 closed

[2016-01-26 12:06] vedovato opened #17 "Getting server ip over address when sharing on Facebook"
Hey, i'm trying to share my content on Facebook with sharer.js + meteor with spiderable and when i hit the share btn, i just got Facebook trying to fetch data from my ip instead my domain and i never get the right image. Below my spiderable settings:

[code]

[2016-01-26 14:33] ellisonleao commented on #17
Hey @vedovato , looks like this is an issue with the SEO lib adding the wrong host inside the og tags. Can you check those tags when the page is rendered? sharer.js only redirects to `data-url` attribute and facebook fetches the info from that url

[2016-01-26 15:37] indieveed opened #18 "Making parameters optional"
According to [twitter doc](https://dev.twitter.com/web/tweet-button/web-intent), all of the parameters are optional, but when I try to share something without "via" parameter, there is a "via" section in the message box.

[2016-01-26 16:39] ellisonleao commented on #18
Thanks for sharing this @indieveed . I've fixed it. You can update your lib to `0.2.8` version now. Thanks.

[2016-01-26 16:39] #18 closed

[2016-01-26 16:53] vedovato commented on #17
Thank you @ellisonleao. I'm gonna check it later :)

[2016-01-28 10:53] indieveed opened #21 "Add multiple facebook sharing methods"
There are multiple facebook sharing methods, according to [doc](https://developers.facebook.com/docs/sharing/web). Also it seems that sharer.php method used in sharer.js lib is not presented in the doc.
There is a good article on multiple facebook sharing methods on [scotch.io](https://scotch.io/tutorials/how-to-share-webpages-with-facebook).

For example, it seems that the only way to share somet

[2016-01-28 18:54] ellisonleao commented on #10
Closing for now.

[2016-01-28 18:54] #10 closed

[2016-01-30 14:08] sylvainbaronnet opened #22 "[Twitter] data-via should be optional"
if data-via is missing or empty : remove " via @"

[2016-01-30 14:17] ellisonleao commented on #22
hey @sylvainbaronnet , on the latest versions that param is optional. What version are you using? please consider upgrading.

[2016-01-30 14:21] sylvainbaronnet commented on #22
Thank you, it worked after upgrading

[2016-01-30 14:21] #22 closed

[2016-02-03 14:09] ellisonleao commented on #17
Any updates, @vedovato ? Can we close this issue?

[2016-02-09 16:53] ellisonleao commented on #17
Closing this issue. If you have any extra issues, please feel free to open again!

[2016-02-09 16:53] #17 closed

[2016-02-14 08:54] nubestra opened #23 "Random error in meteor.js"
sometimes everything works fine
i reloaded several times the webpage and found that sharer dont always work

i see this error on browser terminal
Uncaught TypeError: Cannot read property 'index' of undefined (firefox)
Uncaught TypeError: Cannot read property 'index' of undefined (google chrome)
Uncaught SecurityError: Blocked a frame with origin "https://www.youtube.com" from accessing a frame wit

[2016-02-15 16:06] ellisonleao commented on #23
hey @nubestra do you have a piece of your code so we can investigate?

[2016-02-15 17:53] ellisonleao opened #24 "Are you using sharer.js? Let me know!"
I will leave this issue opened for anyone who wants to talk about using sharer.js on your projects. Feel free to give us some feedback!

[2016-02-15 20:51] nubestra commented on #23
sure @ellisonleao i have a private git, i can invite you so you can have a look

[2016-02-15 20:57] nubestra commented on #24
mole.meteor.com check it out

[2016-02-15 21:10] nubestra commented on #23
I think sometimes work because meteor fires the script before the template is rendered, thats why i see "undefined" we need to find a way for the script to wait for template to be rendered and after that launch the script, will continue searching for the solution

[2016-02-15 23:49] Anachron opened #26 "About the licensing"
So you let other people help building your tool (open source) but sell it alone?

I'm asking myself where we would be if everybody would do that.

What if, for example, the jQuery team decides to do this?

[2016-02-16 00:40] ellisonleao commented on #26
Hey @Anachron you don't have to pay if you use sharer.js on a open source project. I don't think this can compare with jquery, because they have their own way to profit from the lib despite you think it's "free".

There are a lot of other projects who act like this one:

- https://github.com/matthieua/WOW
- https://github.com/metafizzy/isotope

I hope you understand that open source != free.

I wi

[2016-02-16 00:40] #26 closed

[2016-02-16 08:36] jnareb commented on #26
I don't think you understand open source licensing.

You asking people to get commercial license to include sharer.js in closed-source products is just that: a request. You use "lax" / permissive non-copyleft MIT license. The MIT license permits reuse within proprietary (closed-source) software provided all copies of the licensed software include a copy of the MIT License terms and the copyright n

[2016-02-16 12:20] ellisonleao commented on #26
@jnareb thanks for the great explanation! i will probably have to change the open source license now.

[2016-02-16 13:48] dfyx commented on #26
Please note that GPLv3 *still* allows commercial use. It just requires the user to publish any source code that interacts directly (with a rather unintuitive definition of what that means) with the GPL licensed software.

[2016-02-16 14:17] jnareb commented on #26
Also note that even with "strict" copyleft licenses like GPL, the requirement to use the same license for derived code apply only when the combined program is published. For AGPLv3 using product on open Internet is AFAIK also publishing, but check the license.

[2016-02-16 15:01] peteringram0 opened #29 "Browser support?"
Hey,

Whats the browser support for this please?

Thanks.

[2016-02-16 15:07] ellisonleao commented on #29
Hey @peteringram0 this lib is supported for the most recent browsers. I will generate a browser compatibility badge later.

[2016-02-16 15:29] #29 closed

[2016-02-16 15:38] godban commented on #29
Maybe would be helpful http://godban.github.io/browsers-support-badges/

[2016-02-18 04:55] leafiy commented on #24
Very helpful! Considering to use! Could you add Weibo support?

[2016-02-18 08:55] Abhinav1217 commented on #24
Hi, Nice script. Is there a way to add a logo/icon-font in the button. Something like `data-logo='path to image'` or `data-logo='icon-font-character'` .
Not looking for a complete _battries included_ package, just a simple way to tell it to use an Icon.

[2016-02-18 12:52] ellisonleao opened #30 "Weibo support"

[2016-02-18 12:53] ellisonleao commented on #24
hey @leafiy , just opened #30 . Let's move the discussion to there.

hey @Abhinav1217 can you explain this a little bit more? I believe for styles you could simple use CSS.

[2016-02-18 14:05] #30 closed

[2016-02-19 15:07] ellisonleao commented on #23
fixed on repo.

[2016-02-19 15:07] #23 closed

[2016-02-19 20:46] devnutmike opened #31 "Manually initialize"
How to manually init this so that it works inside dynamic content like Angular views?

[2016-02-19 20:50] ellisonleao commented on #31
Sharer.js does not have an api , neither AMD, CommonJS support for now. How are you trying to use it? can you give some some example ?

[2016-02-19 21:14] devnutmike commented on #31
On a full page load, DOM elements with the sharer class get assigned the click event. But for SPA type applications where views are loaded dynamically, changing to a view that has DOM elements with the sharer class, the click event does not get assigned because the code that does that doesn't run again.

I would like to use sharer buttons inside views and not just on the main html container page.

[2016-02-19 21:22] ellisonleao commented on #31
Yeah, that could be solved if i expose the `Sharer` class or maybe some of this methods. I will think about on something and let you know. The only thing i am not into right now is to add CommonJS / AMD support.

[2016-02-19 21:55] devnutmike commented on #31
Okay great thanks. Really like this lightweight approach to share links and
being able to use your own buttons or links.
On Feb 19, 2016 4:22 PM, "Ellison Leão" <notifications@github.com> wrote:

[2016-02-20 11:05] okmttdhr commented on #12
I created https://github.com/okmttdhr/sharer.npm.js to support CommonJS.

[2016-02-20 15:01] sylvainbaronnet opened #32 "Bower package name"
Hi,
Can you tell me why the name is `sharerjs` in the bower command line but the bower package name is `sharer.js` ?

This cause me an issue with a script I use to automatize bower package install / uninstall.
I made a special case for this package but I'd rather not...

Thanks

[2016-02-20 15:27] sylvainbaronnet opened #33 "Popup width too small for pinterest (login form)"
Hi,

The popup for pinterest is too small if you're not logged in :

![screen shot 2016-02-20 at 16 24 34](https://cloud.githubusercontent.com/assets/1569516/13197467/b8ec9238-d7ee-11e5-8e2b-c49a34a2c787.png)

Edit: the login button is hidden (top right)

[2016-02-20 16:14] ellisonleao commented on #32
Nothing special, i can change if its causing troubles. Thanks for reporting!

[2016-02-20 16:23] ellisonleao commented on #32
Just registered the new one.  You can now install with  `bower install sharer.js`

[2016-02-20 16:23] #32 closed

[2016-02-20 16:27] sylvainbaronnet commented on #32
Great ! Thank you very much

[2016-02-20 16:35] ellisonleao commented on #31
hey @devnutmike , we got for now a npm package which probably handle what you need https://github.com/okmttdhr/sharer.npm.js

[2016-02-20 19:44] ellisonleao commented on #33
hey @sylvainbaronnet i am adding a custom `data-width` and `data-height` to solve this issue. Unfortunately we can't check if the user is logged in before opening the popup, without adding a lot of dependencies. If you want to increase your sharer pop simply add

[code]

Note this is from the `0.2.13>` version.

[2016-02-20 23:47] sylvainbaronnet commented on #33
Perfect, thank you

[2016-02-21 14:14] #33 closed

[2016-02-26 14:42] JoshuaDoshua commented on #24
Was, but stopped since the commercial license.

[2016-03-03 11:29] TrnsltLife commented on #24
Hey, I just bought the single use commercial license to use on the tutorial pages on www.CommentHow.com. I like that it's lightweight, covers a lot of services, and it's worth the $9 for me not to have to write it myself. Thanks!

P.S. I modified the .js on my server to include image and description to pinterest. Can you add that to your version?

[code]

[2016-03-03 14:00] ellisonleao commented on #24
hey @TrnsltLife , thanks for sharing! will update it soon. Thanks

[2016-03-07 15:25] JoshuaDoshua commented on #24
Question, are you going to give @TrnsltLife some kind of kickback since he paid $9 and contributed to your repo (and essentially profits)?

[2016-03-08 16:20] neuropass commented on #24
Hi,

terrific plugin, finally! yes, +1 @TrnsltLife for rich pins..
purchasing the license to support the project.

question, would it be possible to use a bootstrap 3.1.x modal rather then the default browser tab? can it be done?

[2016-03-08 16:52] ellisonleao commented on #24
Hey @neuropass , that can be done, but unfortunately we will need to override the default's `window.open` method to use a modal, which will add a dependency to the project. I really want to keep this lib as simple as possible for now. I think we can extend this project and make another ones, like `sharer.bootstrap.js`,  `sharer.jquery.js` , etc..

[2016-03-09 04:56] neuropass commented on #24
I think extending it would be terrific. At least for Bootstrap :) :+1:

[2016-03-10 16:10] neuropass opened #38 "Add pull information from Open Graph (OG) Meta Tags"
Can you add a global data- option that pulls the site info from Open Graph (OG) Meta Tags ?

For example the title, description , and image as the very basics.

[2016-03-10 16:31] ellisonleao commented on #38
Not sure if i follow your proposal. when you are sharing a content , the sharer social network will automatically fetch the og tags and populate the image/description with their contents. Some of them accepts a custom image, description and title.

[2016-03-10 16:53] neuropass commented on #38
Maybe I misunderstood the plugin usage then.
If use this as the example shows:
`<button class="sharer button" data-sharer="twitter" data-title="Checkout Sharer.js!" data-hashtags="awesome, sharer.js" data-url="https://ellisonleao.github.io/sharer.js/">Share on Twitter</button>`

will only share the url, title and the hashtag. but if in my page there is an image or some other og tags like published

[2016-03-10 16:55] ellisonleao commented on #38
Yes, they will be included too if provided on the `og:tags` . On twitter case you can also have the twitter cards, which is specific for twitter posts. Please take a look at https://dev.twitter.com/cards/overview

[2016-03-10 17:01] neuropass commented on #38
Gotcha. Ok I completely miss-read it then. I thought you would just indicate what to share via data- attribute. Then if it fetches wherever meta tags are present in the page is perfect :)

[2016-03-10 17:03] ellisonleao commented on #38
Nice! Will close this one then.

[2016-03-10 17:03] #38 closed

[2016-03-10 17:03] ellisonleao commented on #31
Closing for now.

[2016-03-10 17:03] #31 closed

[2016-03-10 18:06] neuropass commented on #38
Ok I see. so that depends on the social media itself then and not the plugin? Its confusing because on facenbook and pinterest you see the picture erc in the share box but not with the other networks.
sorry for insisting on this, I just wanted to be sure.

[2016-03-24 10:04] rppld opened #39 "Update npm package"
Just a heads-up: Noticed that the version on npmjs.org is different. E.g. the pinterest button wouldn't show the image until I noticed that the media property isn't set in the npm version.

[2016-03-24 15:44] ellisonleao commented on #39
Fixed! Thanks @rppld

[2016-03-24 15:44] #39 closed

[2016-04-05 12:22] leafiy opened #40 "add DOUBAN and QQ?"

[2016-04-05 12:28] leafiy commented on #40
code for douban
[code]

[2016-04-14 19:10] jshwlkr commented on #24
http://dme.engin.umich.edu/northcampus-minecraft/
Giving it a try here, hoping to get it adopted as an alternative to AddThis.

[2016-04-20 17:27] #40 closed

[2016-04-25 17:49] #21 closed

[2016-06-01 06:22] sevasargsyan opened #41 "Why no instagram?"
Hey why not instagram?

[2016-06-01 16:06] ellisonleao commented on #41
Unfortunately Instagram does not have a share endpoint on which we can create share buttons.

[2016-06-01 16:06] #41 closed

[2016-06-03 11:59] sevasargsyan opened #42 "Why no ok.ru ?"
Hi why noth ok.ru? https://en.wikipedia.org/wiki/Odnoklassniki

[2016-06-24 15:12] #42 closed

[2016-08-24 14:54] arximughal commented on #24
just created a small sharer.css extension for this plugin to make the share button more beautiful and modern. Check it out [here](https://github.com/arximughal/sharer.js-with-css)

[2016-08-24 16:14] godban commented on #24
@arximughal demo?

[2016-08-24 16:32] ellisonleao commented on #24
@arximughal nice one! thanks

[2016-08-25 07:51] arximughal commented on #24
@godban will be sharing soon. Just gotta do a little bit housekeeping :P ;)

[2016-08-25 07:51] arximughal commented on #24
@ellisonleao Pleasure. :)

[2016-08-29 08:02] arximughal commented on #24
@godban here's the demo https://arximughal.github.io/sharer.css/

[2016-10-04 18:23] TITAN-UZ opened #43 "OG META"
Hi!
when version will be enabled OG META types

[2016-10-04 19:14] ellisonleao commented on #43
Hey @TITAN-UZ can you give more thoughts on that? i can't understand what you are proposing

[2016-10-08 19:13] TITAN-UZ commented on #43
http://ogp.me/

[2016-10-08 19:18] godban commented on #43
oh, now it's clear 😅

[2016-10-24 17:26] sevasargsyan opened #44 "You can add mail.ru"
Hi you can add social sharing mail.ru ? https://en.wikipedia.org/wiki/Mail.Ru
Thanks.

[2016-12-07 14:40] optimusvish commented on #24
@ellisonleao Hi, I'm using this script on my project but it's not working on ajax loaded content. Can I get any help to solve this?? Thanks anyway for this script.

[2016-12-07 16:17] ellisonleao commented on #24
hey @optimusvish can you open a new issue so we can discuss it please?

[2016-12-08 05:22] optimusvish opened #45 "sharer.js Issue with ajax loaded content"
@ellisonleao Can you help me out? I'm using this script on my page but it's not working on ajax loaded page.

[2016-12-08 06:45] optimusvish commented on #45
@ellisonleao I'm using one div and loading the content from another page to this div so the script is not working. If i use directly in a page it'll work but not on ajax loaded content.

[2016-12-08 11:54] ellisonleao commented on #45
Do you have a piece of code so we can test here?

[2016-12-08 11:54] #43 closed

[2016-12-08 14:28] romettm commented on #45
`/**
 * @preserve
 * Sharer.js
 *
 * @description Create your own social share buttons
 * @version 0.2.16
 * @author Ellison Leao <ellisonleao@gmail.com>
 * @license GPLv3
 *
 */

(function () {
    'use strict';
    /**
     * @constructor
     */
    var Sharer = function(elem) {
        this.elem = elem;
    };

    Sharer.prototype = {
        constructor: Sharer,
        /**
         *  @func

[2016-12-12 12:45] optimusvish commented on #45
@ellisonleao @romettm sorry guys I'm out town for sometime. Anyway thanks for your reply. Actually I fixed the issue it's working now. Thanks any way.
This is the code I used:
$(document).on("click", '.sharer', function()
{
    var sharer              =   $(this).attr("data-sharer");
    var text                =   $(this).attr("data-title");
    var url                 =   $(this).attr("data-url"

[2016-12-12 21:31] ellisonleao commented on #45
yea, the problem is that the bindings are added on window load, not click. so if you got another element which renders after that binding, the script will not work.

thanks for sharing the issue!

[2016-12-12 21:31] #45 closed

[2016-12-12 23:57] #44 closed

[2016-12-24 15:35] paulohrpinheiro commented on #24
Hello Ellison! Now I am also using: https://paulohrpinheiro.xyz, thank you!

[2017-01-17 01:05] dgmariscal commented on #24
Hi Ellison! I using in all of my projects since i discover you jajaja, your script is very helpfull, Thanks You A Lot!!.

**I Have a Question:** in some project i been working, is a web app version of a magazine client, all work correct, but the client ask me if like you share in Whatsapp, the browser ask if you like to open the app for send the share message, we can do the same if i have facebook

[2017-01-18 07:25] optimusvish commented on #24
@dgmariscal replace this code
`facebook: {
                        shareUrl: 'https://www.facebook.com/sharer/sharer.php',
                        params: {u: this.getValue('url')}
},`
with below
facebook: {
                        shareUrl: 'fb://publish/',
                        params: {text: this.getValue('url')}
},
and check once.

[2017-01-18 15:44] dgmariscal commented on #24
thanks @optimusvish looks fine, do you know what are the shareUrl for the same thing but for Twitter app?

[2017-01-18 16:14] optimusvish commented on #24
@dgmariscal there is no need to change the URL for twitter. If u have installed the twitter app it'll automatically share in app.

[2017-01-18 17:12] dgmariscal commented on #24
@optimusvish thanks, i don't have installed the official twitter app, my bad jaja

[2017-02-13 02:34] dgmariscal commented on #24
Hi @optimusvish, i change the code for share with facebook app, but some days ago this don't work, open the FB app but don't open the publish windows, what do you think is happening? .

The url is: m.codigomagenta.com.mx

Thanks in advance

[2017-02-20 07:55] armbull opened #46 "How to add social counter?"
Hello,
How to add social counter for social buttons. I have this code `countUrl:"https://graph.facebook.com/?id={url}&access_token={accessToken}&callback={callback}",countCallback:function(t){return(t.share||{}).share_count||0}}`
And I don't know how to insert it to sharer script and send it to html div.
Thank you.

[2017-02-20 16:12] ellisonleao commented on #46
I will think about some generic solution that could be used for the others shares and let you know.

[2017-02-20 18:13] armbull commented on #46
I found nice minify solution =) where many counts are released in yandex.tech.
[https://yastatic.net/share2/share.js](url)
There are more social media on it [https://tech.yandex.ru/share/](url)
Please, whatch it and maybe you can add this feature to your script

[2017-02-22 20:44] armbull commented on #46
Also you can see as inspiratiob from [https://github.com/sapegin/social-likes/blob/master/src/social-likes.js](here) Social Likes on Github. There are counters. And code is similar as you, a bit)

[2017-03-04 02:43] ssoulless opened #47 "Sharer.js not compatible with Turbolinks"
Im trying to use Sharer.js in my Rails app that uses Turbolinks, but it just doesn't work, I have to reload the page... any idea how you can make this plugin compatible with Turbolinks?

[2017-03-04 17:31] ellisonleao commented on #47
Hey @ssoulless i don't have any experience with Turbolinks. Do you have a piece of code so we can see what's happening. Just remember that the current sharer code only adds the share handler on the `load` event listener

[2017-03-04 23:10] ssoulless commented on #47
Alright, I will make PR, I know how to make this plugin compatible with Turbolinks

[2017-03-16 00:15] #47 closed

[2017-04-13 10:23] metin-yilmaz opened #49 "Ajax Problem"
Hello it does not work with content that comes with ajax. Will you do a work for it ?

[2017-04-13 14:29] ellisonleao commented on #49
hey @metin-yilmaz can you maybe share a piece of code so i can check on my side?

[2017-04-13 17:33] ellisonleao commented on #46
Hey @armbull i did some thinking about this card and i am not having plans for it since some of the sharer sites had the social counter apis removed.

[2017-04-13 17:33] #46 closed

[2017-04-13 17:34] ellisonleao commented on #24
Hey guys, sharer.js is now using a MIT License and it's going to be free forever! 😄

Feel free to share , modify and use it.  Just let me know if it goes well!

[2017-04-13 18:14] metin-yilmaz commented on #49
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>

<style type="text/css">
        body,html{margin:0; padding:0; font-size: 14px; font-family: Arial;}
        a{text-decoration: none;}
        .content{ max-width: 980px; margin:0 auto; }
        .addData{margin:20px 0; text-align: center;}
        .addData a{disp

[2017-04-13 18:22] metin-yilmaz commented on #49
Sample example code i shared. share links do not work when added to the page later and they don't work dynamically also(ajax, javascript after loaded)

[2017-04-13 20:41] ellisonleao commented on #49
Hey @metin-yilmaz i've fixed this issue on the last version. I've updated your code showing how to add a share behaviour on ajax calls here http://codepen.io/ellisonleao/pen/XRJdYV

Please let me know if this works for you.

[2017-04-14 07:12] metin-yilmaz commented on #49
I have tested and it works very well. thank you so much 👍

[2017-04-14 13:53] #49 closed

[2017-04-19 13:03] yamsellem opened #50 "Facebook closes Android Chrome while share dialog opens"
I've been struggling for several days with facebook sharing dialog on android.

I know this is not directly related to this `sharer` library, but because you've got some experience & feedback with the thing, you may help me a lot.

The thing is, when I open a facebook share dialog on android chrome (with facebook try yourself or with sharer's link), the chrome closes automatically or, if it don't

[2017-04-28 11:07] vincentasea opened #51 "Why am I getting "...Cannot read property 'init' of undefined(…)" when I hit my share button?"
Installed the Sharer.js package for Meteor via the atmosphere page. I keep getting this error message when ever I hit a shared button:

 `VM6113:1 Uncaught TypeError: Cannot read property 'init' of undefined(…)`

I get the the exact same error message when I run this in the chrome console:

`window.Sharer.init();`

Any idea on how I can get it to work?

[2017-04-28 16:02] ellisonleao commented on #51
hey @vincentasea can you share some code so i can try to understand the issue?

[2017-05-06 15:07] vincentasea commented on #51
Hey there @ellisonleao. Sure thing, find below my events code:

I installed your package via atmosphere using:

**meteor add ellisonleao:sharerjs**

My HTML code:
`<a href="#"> <span class="sharer" >Sharer</span>  </a>`

When I click the Sharer link, it triggers the click .Sharer Template events. Find the code below:
`Template.detail.events({

     "click .sharer": function() {
 	//add new buttons

[2017-05-06 15:08] vincentasea commented on #51
Any help would be greatly appreciated

[2017-05-06 19:02] ellisonleao commented on #51
This is a different error from the one you've mentioned before. Are you still having errors with the `init` function? how are you adding the sharer.js `<script>` tag? is this a meteor app?

[2017-05-08 06:35] vincentasea commented on #51
Hi, Yes its a different error from the one I first had.
For some reason I am not getting the `init` error anymore.

Yes Its an Meteor app, so I added the sharer package via atmosphere using `meteor add ellisonleao:sharerjs`.

Looking forward to your help

[2017-05-11 11:16] vincentasea commented on #51
Hello there ellisonleao. Kindly help me..

[2017-05-16 22:41] ellisonleao commented on #51
Hey @vincentasea sorry for the late response, i was on vacations.

About your problem, the meteor package is not being updated anymore. You should get the latest using `meteor npm install sharer.js` or using the [cdn url](http://www.ellison.rocks/sharer.js/#installing) directly on your template

[2017-05-30 19:42] rebornishard commented on #24
@ellisonleao dude please change email share data component, it's kinda annoying to enter email to,
it's possible to change it with email from, so user only need to fill up who he will share it (possible for multiple email share)
thanks for a great project

[2017-05-30 23:26] ellisonleao commented on #24
hey @rebornishard not sure if i follow. Are you saying that the `To:` field is not being populated properly?

[2017-06-01 22:51] rebornishard commented on #24
@ellisonleao ok sir, i'll change to trollid account, since i'll using sharer.js on it

[2017-06-01 22:58] trollid opened #52 "Media Email and Facebook"
Hello @ellisonleao , as your suggestion, i'll make a new issue here

first :
it's a suggestion for email, can we change data-to into data-from
because if someone ( call this one A ) want to share foo from a web to his friend ( call this one B )
A must remember B email, and input it in input box, so javascript or form can populate data-to
but it's more better if A input his email in data-form or th

[2017-06-09 17:20] cbaxter713 opened #53 "Reinit sharer.js in Angular2 app"
Hello,

I am dynamically adding some sharer.js links after page load, and need to reinit the sharer.js script once that new component is instantiated.  I've tried Sharer.init(), window.Sharer.init(), document.Sharer.init()....all to no avail.

Has anybody else figured out how to reinit this script within angular2?

[2017-06-09 17:57] #51 closed

[2017-06-09 18:20] cbaxter713 commented on #53
Figured it out.

I can import everything from the external sharer.js file within my component, declare the Sharer variable from that import, and then access init() on that.

`
import * as sharer from 'sharer.js';
declare var Sharer: sharer;
ngOnInit() {
Sharer.init();
}
`

[2017-06-09 18:20] #53 closed

[2017-08-15 17:17] RozbehSharahi commented on #50
I'm not sure if it is related, but for me it closed on chrome (desktop), when the defined data-url was not a valid url. Maybe it helps.

Regards

[2017-08-24 16:06] suadhuskic commented on #52
@trollid
If I'm understanding this correctly; you want to set the `from` header ?
That is not possible when using a `mailto` link.

This is not using some crazy email API like lets say PHPMailer; it simply opens a new window using `mailto`.

Here are the possible options to pass when using a `mailto` link:

[https://yoast.com/dev-blog/guide-mailto-links/](https://yoast.com/dev-blog/guide-mailto-li

[2017-09-05 10:33] LukasDrgon opened #55 "Update jsDelivr links"
[jsDelivr switched to a fully automated system](https://www.jsdelivr.com/features), that can serve files from npm and GitHub. This means all future releases will be available automatically, but will use a new link structure.

I noticed that there are old links at http://www.ellison.rocks/sharer.js/, the correct link is https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js.

You can find link

[2017-09-05 17:46] ellisonleao commented on #55
Thanks @LukasDrgon , i've updated it.

[2017-09-05 17:46] #55 closed

[2017-09-05 18:11] ellisonleao commented on #50
Before the facebook sharer page can be rendered, facebook validates the URL. If the URL is not valid it calls [this url](http://facebook.com/dialog/return/close?error_code=100&error_message=href+should+represent+a+valid+URL#_=_), which closes the modal. Maybe your URL is not valid?

[2017-09-05 18:11] #50 closed

[2017-09-05 18:46] ellisonleao commented on #52
@suadhuskic just pretty much answered why this is not possible. Thanks for the issue anyway.

[2017-09-05 18:46] #52 closed

[2017-09-15 21:46] jasan-s opened #56 "How to confirm social share was completed (question)"
I wanted to use this lib to allow my app users to share some app content and in return I wanted to offer them discount code. So my question is how can I check for if the user successfully posted on the respective social platform so I issue a discount code.

[2017-09-15 21:50] suadhuskic commented on #56
@jasan-s it is not possible. The lib basically opens the URL and passes all the parameters as GET parameters. There is no callback to this library to check if the user actually did share.

What you want to use is the actual FB SDK. See here:
[https://developers.facebook.com/docs/javascript/](https://developers.facebook.com/docs/javascript/)

[2017-09-16 16:25] ellisonleao commented on #56
hey @jasan-s , @suadhuskic pretty much answered the question. If you need some action after the share, you will need to check if the social media you want that action has the ability to do so in another way that is not covered with this lib.

[2017-09-16 16:25] #56 closed

[2017-10-02 19:31] sevasargsyan commented on #24
Hi! Ok.ru noth working.

[2017-12-05 12:24] jtuds opened #57 "Doesn't position correctly in zoomed windows"
When using on a zoomed out window or for example a window in Chromes responsive mode emulating a large screen, the popup doesn't open in the center. Depending on how much the screen is zoomed out or how much bigger the emulated screen is than the actual screen determines how far from the center the popup appears.

For example the actual width of the browser on my screen is 1440. When using the emu

[2017-12-07 21:24] soluml opened #58 "Consider using the data-sharer attribute as the selector instead of class .sharer"
Changing [L27](https://github.com/ellisonleao/sharer.js/blob/master/sharer.js#L27) from `var elems = document.querySelectorAll('.sharer'),` to `var elems = document.querySelectorAll('[data-sharer]'),` relieves users from having to add a sharer class to any element they want to act as a share button.

`data-sharer` is a required attribute for all social sharing anyway, so it can be used to kill two

[2017-12-14 03:22] ellisonleao commented on #58
nice idea @soluml ! Will check it soon. Thanks for the tip

[2018-02-06 15:40] Probocop7 opened #59 "Add support for Whatapp web"
Currently I can only get a whatsapp share dialog to open using a mobile device, with the app installed.

On a desktop, clicking the Whatsapp button does nothing. It'd be great if it would use Whatsapp web in this case:

i.e.

`https://web.whatsapp.com/send?text=some text`

[2018-02-08 05:14] demetriuschar commented on #59
A quick fix is Changing lines 103 to 109 form:
`                    whatsapp: {
                        shareUrl: 'whatsapp://send',
                        params: {
                            text: this.getValue('title') + ' ' + this.getValue('url')
                        },
                        isLink: true
                    },`
to
` whatsapp: {
                        shareUrl: 'https:/

[2018-04-17 10:32] hacknug opened #61 "Add support for facebook hashtags"
Given Facebook supports passing a hashtag parameter to the url, I think it would be a good idea to add support for those on the library.

I can take a look at it if you'd like me to open a PR.

[2018-04-23 17:46] #58 closed

[2018-07-12 16:01] #59 closed

[2018-07-17 15:21] MathieuAlphamosa opened #63 "Official website might have been hacked"
Accessing http://ellison.rocks/sharer.js display a JS script pointing to another website.

[2018-07-17 15:49] ellisonleao commented on #63
Sorry about that, the website in description is wrong. [This is the real link](http://ellisonleao.github.io/sharer.js/)

[2018-07-17 15:49] #63 closed

[2018-07-24 23:40] mihailneagu opened #64 "Programatically trigger share window"
Hello!

I find your plugin nice and thought to use it on a project.
What I'm trying to accomplish: when the user clicks on the button, I first want to do some checks (maybe an ajax) and only after everything is right I would like to fire the share window.
Is this possible somehow?

Regards!

[2018-10-22 16:31] #61 closed

[2018-10-23 00:55] darkylmnx opened #65 "facebook but, not showing the usual window"
It seels the facebook share windows isn't the good one, look at the screen :
![image](https://user-images.githubusercontent.com/1426357/47327870-211c0b00-d66f-11e8-8726-64565daf2534.png)

[2018-10-25 17:28] ellisonleao commented on #65
hey @darkylmnx can you show some code please?

[2018-10-31 23:43] mattbag commented on #61
@ellisonleao Hello! Using the latest now, it gives an error if no hashtag is set!

[2018-11-01 02:16] ellisonleao commented on #61
hey @mattbag thanks for the tip! will check that out!

[2018-11-01 03:10] ellisonleao opened #66 "facebook share fail if data-hashtag is empty"

[2018-11-01 18:20] #66 closed

[2018-11-02 02:13] ellisonleao commented on #24
@fadlurss facebook uses `data-hashtag` instead of `data-hashtags` .  What is the error you are getting?

[2018-11-04 09:42] chewic opened #67 "Two popup window open"
Hi. When I clicked the facebook or the other link buttons, two popup windows open. I have added this:
googleplus: {
                        shareUrl: 'https://plus.google.com/share?',
                        params: {
                            url: this.getValue('url'),
                        }
                    },

And the googleplus button works perfect. One window. But the other links(no w

[2018-11-04 10:18] chewic commented on #67
I have added the js files two times. :)

[2018-11-04 10:18] #67 closed

[2018-11-05 17:45] ProUnebit opened #68 "Doesn't work for WhatsApp :("
I am not sure, perhaps it isn't your code problem. But for me your WhatsApp API doesn't work.
However, others soc. net. share buttons works perfectly.

[2018-11-08 05:54] am0nshi commented on #24
https://aftership.com.ua/ 👍

[2018-11-23 12:29] ysn47 commented on #68
for using in whatsapp web add this to sharer.min.js and set the data-sharer attribute as "whatsappweb"

            whatsappweb: {
                        shareUrl: "https://api.whatsapp.com/send",
                        params: {
                            text: this.getValue("title") + " " + this.getValue("url")
                        }
                    },

this solution works for me.

[2019-01-24 21:12] luke-burkett opened #69 "Empty "to" attribute for Email share results in "undefined" string"
`data-to=""` results in `undefined`.

[2019-02-21 18:06] Intaria opened #70 "google+ and instagram?"

[2019-02-21 18:59] ellisonleao commented on #70
google+ is going to be discontinued on April 2019 and as for instagram , i don't think they provide a share method

[2019-02-21 18:59] #70 closed

[2019-02-21 19:00] #65 closed

[2019-02-21 19:00] #57 closed

[2019-02-21 19:38] jtuds commented on #57
Is this fixed by a PR?

[2019-02-22 01:09] ellisonleao commented on #57
hey @jtuds i am not sure this is a huge bug to be concerned right now and i think it's not worth the effort to fix this right now.

[2019-02-26 23:02] ellisonleao commented on #69
fixed on https://github.com/ellisonleao/sharer.js/commit/0794dd5781a9e4871dcdc1b09acb63ac2e5dc8d9

[2019-02-26 23:03] #69 closed

[2019-02-26 23:05] ellisonleao commented on #68
New version (0.3.6) adds a `data-web` attribute with the option to share on whatsapp web. Check [latest docs](http://ellisonleao.github.io/sharer.js/#whatsapp) on how to use

[2019-02-26 23:05] #68 closed

[2019-02-26 23:05] luke-burkett commented on #69
Thank you!

[2019-03-19 12:37] hacknug opened #71 "Publish v0.3.6 on NPM"

[2019-03-19 16:57] ellisonleao commented on #71
Done!

[2019-03-19 16:57] #71 closed

[2019-03-19 18:18] hacknug commented on #71
Thank you!

[2019-03-28 08:45] yodeco opened #72 "Support for # sign"
Hello, have met critical FB share issue (didn't test it on other btns). If we have in url let's say .../#!/..., it won't be passed ok to FB, in URL we will have .../!/..., without @ sign. Could you help me with that case? Thanks in advance!

[2019-03-28 16:02] ellisonleao commented on #72
hey @yodeco do you have the full url so i can try on my side, please?

[2019-03-28 21:07] SomahCorp opened #73 "Twitter cards with image"
Hi there !
1st of all, thank you for this script. I've seen around the web that twitter can share images and video with "Twitter cards". Didn't see this option on your script. Maybe I missed it, but if i've not, do you know how to do such thing with your script ?
Thank you again for your great work !

[2019-03-29 14:42] ideafm opened #74 "telegram not working"
Proposal: use 2 parameters for telegram sharing (text and url). Because without `url` it's not actually sharing, just opening telegram app.
Example:
`tg://msg_url?text=just%20text`
`tg://msg_url?text=just%20text&url=http://example.com`

[2019-03-29 19:45] ellisonleao commented on #73
Hey @SomahCorp , the twitter cards works with html meta tags, something like:

[code]

The only way you can share an image using this lib right now is that if you just put the image URL inside the `data-url` field:

[code]
Which might not work as you expect.

[2019-03-29 19:45] #73 closed

[2019-03-29 20:08] SomahCorp commented on #73
Thank you for you reply. Problème is, this just add the image path to the tweet instead of building a Twitter card.
I added `<meta name="twitter:card" content="summary_large_image">` in `<head>` which validate the Card on the [Twitter Card Validator](https://cards-dev.twitter.com/validator).
With a static twitter:image tag, it works perfectly. But to display the selected image, it seems I need to

[2019-03-29 20:24] ellisonleao commented on #74
Fixed on `0.3.7` version. Thanks!

[2019-03-29 20:24] #74 closed

[2019-06-01 19:07] polskagrucha opened #76 "Cannot push cloned branch no permissions!"
Contributing.md should state that permissions must be granted.

I've updated sharer.js to include Mix which replaces StumbleUpon. Can I get permission to create a new branch and issue pull request?

Thanks.

[2019-06-02 02:39] ellisonleao commented on #76
not sure how did you setup your environment but i don't have any blocks regarding that. How's your .git/config file looking like?

[2019-06-02 02:40] ellisonleao commented on #24
Closing this since github now has a "Used By" button

[2019-06-02 02:40] #24 closed

[2019-06-04 02:02] #76 closed

[2019-07-02 14:15] GBratsos opened #79 "Can you add Facebook Messenger?"
Do you plan adding Facebook Messenger option to this plugin?

I'm using it on my projects and i feel like it's missing.

[2019-07-28 16:32] adrienpoly opened #81 "Compaibility with Turbolinks 5"
#47 & PR #48 discussed and fix the compatibility issue with Turbolinks 3.
Turbolink 5 has been released for more than 2 years now and is the defacto standard.

Lots of breaking changed happened during this migration.
`page:load` event has become `turbolinks:load`

currently, sharer.js doesn't work with Turbolinks 5

[2019-09-05 02:28] ameeraalias opened #85 "The link is not displayed on whatsapp share"
Hello, i tried using sharer.js for whatsapp. It direct to whatsapp web with the text but the link is not included. How should i resolve this issue?

Thanks in advance

[2019-09-05 16:36] ellisonleao commented on #85
hey @ameeraalias can you show what code you're trying to use, please?

[2019-09-11 14:18] adm1t opened #86 "style fixes on http://ellisonleao.github.io/sharer.js/"
.page-header background image width is less than some displays widths.
css 'background-size: cover' will resolve this problem. 😉

![Screenshot_2019-09-11 Sharer js by ellisonleao](https://user-images.githubusercontent.com/26100455/64705167-2e74fa80-d4b8-11e9-8de3-7c710b2616ce.png)

[2019-09-11 16:49] ellisonleao commented on #86
hey @adm1t thanks for the suggestion! Can you open a PR to fix that, please?

[2019-09-11 18:00] adm1t commented on #86
Yeah, of course. I did it. This is my first pr on github 😀

[2019-09-11 18:12] ellisonleao commented on #86
Thanks! And welcome to github!

[2019-09-11 18:12] #86 closed

[2019-09-12 17:16] HoldOffHunger opened #88 "List the Source for the URLs?"
Hi hi!

Excellent project!  It reminds me of the project I've been working on since 2013, "Social Share URLs", here : https://github.com/bradvin/social-share-urls

In fact, it seems like we share quite a bit in regards to the URL API's, almost service for service.  I remember when I added RenRen, Sina Weibo (that's what it was launched as), and VK to the github repo above, I couldn't find anyone e

[2019-09-18 16:28] ellisonleao commented on #85
closing due to no feedback

[2019-09-18 16:28] #85 closed

[2019-09-25 18:00] ellisonleao opened #89 "Add more social share APIs"
Basically the current format of a new endpoint is just by changing the `sharers` object with a new object that contains a `shareUrl`  string and the `params` object. You can see the twitter example [here](https://github.com/ellisonleao/sharer.js/blob/master/sharer.js#L89-L97)

[2019-09-26 00:59] stanleynguyen commented on #89
Hi @ellisonleao can I take this? Do you have some platforms in mind or shall I explore what platforms are there for sharing?

[2019-09-26 01:47] ellisonleao commented on #89
hey @stanleynguyen, thanks for reaching out. I do not have any platforms right now, so you will need to make some exploration first.

[2019-10-07 17:43] hyuko21 opened #99 "Update sharer.js source code variables declaration"
Hey, guys!

The source code from sharer.js looks awesome. It is really readable and easy to find out what's going on. Congrats!

Now, talking seriously, wouldn't it be nice if that code was using ES6 features. Like, variables declarations (const, let).

If the code is that way because of compatibility with the browsers, I'll take it. Otherwise, I think this would be important to avoid possible unw

[2019-10-07 17:50] ellisonleao commented on #99
hey @hyuko21 , thanks for the suggestions! i was already thinking about doing this, but i am not sure about the current status of ES6 and browser support. That's why i am stilll using the plain vanilla yet.

[2019-10-10 21:19] #88 closed

[2019-10-10 21:19] #99 closed

[2019-10-10 21:22] ellisonleao opened #102 "New website"
Sharer.js needs a new website!  With all the current implemented API documented and some examples. Since i am terrible at frontend, i am taking suggestions on some cool designs that can help improve user experience.

All work must be pushed to the `gh-pages` branch, where the current one lives.

[2019-10-11 00:00] galvc commented on #102
Hi, I can help by making some design wireframes if that's something you're also looking for?

[2019-10-11 02:00] ellisonleao commented on #102
sure @galvc , that would be nice!

[2019-10-11 18:00] galvc commented on #102
hi @ellisonleao here are my suggestions

![sjs - frontpage 1](https://user-images.githubusercontent.com/26034240/66673836-50c47a00-ec16-11e9-86e4-52baa932777e.png)
![sjs- frontpage 2](https://user-images.githubusercontent.com/26034240/66673834-502be380-ec16-11e9-9d0b-65ed175656e0.png)
![sjs-compoennts](https://user-images.githubusercontent.com/26034240/66673835-502be380-ec16-11e9-82fb-8f3bad4574a9

[2019-10-11 18:41] ellisonleao commented on #102
Liked the clean idea

some questions:

- Is the left sidebar fixed?
- Can we have a copy to cliboard button in the example inside a `<code>` block or something like it?
- Are you using some specific CSS framework or just custom css?

[2019-10-17 19:19] ellisonleao commented on #102
hey @galvc any updates ?

[2019-10-17 21:44] arximughal commented on #102
I'd drop-in here and suggest to go with Gatbsy. Great platform. I just finished working on a verrryyy big application using Gatsby.

[2019-10-19 03:47] Project-Magenta commented on #89
can i take this too?

[2019-10-19 03:56] Project-Magenta commented on #89
willing to add hacker news and delicious

[2019-10-19 04:05] Project-Magenta commented on #89
https://jmduke.com/2017/02/11/share-links-hacker-news

[2019-10-19 04:06] Project-Magenta commented on #89
found this but pls dont take this will be my first pr

[2019-10-22 15:51] TechiePriyaRanjan commented on #102
I can design website for this. But I want to know, what platform you want ? can I do in HTML or you prefer some platform, like Gatsby , Next.js etc?

[2019-10-22 22:46] arximughal commented on #102
I can help with Gatbsy too (in case @ellisonleao decides to go with Gatbsy).

[2019-10-22 22:50] galvc commented on #102
Hi @ellisonleao Very sorry, I got sick and was unable to do this. But my bad, I also am not able to continue because I need time to rest. Thanks for the opportunity to design for this and good luck to everyone else

[2019-11-01 03:19] RafaelDavisH commented on #102
I currently exploring with Gatsby and would to love collaborating on this new site project. I can also help with any graphics if needed - I have experience with Photoshop and Illustrator as well.

[2019-11-17 20:10] meowsus opened #106 "Email example not working"
I didn't get a chance to dig into this issue, but I wanted to note what I have been seeing.

For me, on Chrome 78.0.3904.97 in Ubuntu 19.10, the [email sharing section](http://ellisonleao.github.io/sharer.js/#email) does not work. No errors in console.

I'm curious if anyone else is experiencing this issue.

[2019-11-18 00:25] chojnicki commented on #79
What about this? https://developers.facebook.com/docs/sharing/messenger/web

This tool also works https://www.addthis.com/social-buttons/facebook-messenger-button/ and what's cool - on desktop instead of trying to open app it redirects to correct form on FB site.

I tested simple `<a href="fb-messenger://share/?link=urlhere">share</a>`  and it works, so why not use this? I am missing something?

M

[2019-11-18 00:58] chojnicki commented on #79
Ok now I see that messenger is already supported, but not mentioned in docs and in npm/git there is old release with old code (why so?).

But anyway after cloning directly from git messenger still not working.

Pull request https://github.com/ellisonleao/sharer.js/pull/107

[2019-11-18 16:27] ellisonleao commented on #106
hey @meowsus do you have the html code you've tried to use?

[2019-11-18 17:58] meowsus commented on #106
@ellisonleao Sorry I wasn't more clear. The example on the github.io page doesn't work for me. I double checked in my app and found it, too, wasn't working. So that HTML from the github.io page should suffice for a test scenario.

Great avatar, btw.

[2019-11-19 17:31] ellisonleao commented on #106
@meowsus are you using some email client? i am testing on Pop_OS 19.10 with Chromium and the link is working for me.

[2019-11-19 19:30] ellisonleao commented on #79
@chojnicki 0.4.0 is published

[2019-11-19 19:45] meowsus commented on #106
O-O My mistake, it seems like I can't click on any mailto: links.

![doh](https://i.imgur.com/sEd6unV.gif)

[2019-11-19 19:45] #106 closed

[2019-11-19 19:50] ellisonleao commented on #106
np! Glad that you found the issue

[2019-12-08 22:58] pedrowindisch commented on #102
Hey there,

I'd like to contribute to this project. I designed a logo and a website concept. Feel free to contact me if you liked it - I'm more than happy to answer any questions.

**Logo**
![presentation](https://user-images.githubusercontent.com/30203228/70397869-b9e92380-19f4-11ea-9d25-10324c11a253.png)

**Home**
![Web 1920 – 1](https://user-images.githubusercontent.com/30203228/70397887-d1c0a7

[2019-12-23 16:30] #89 closed

[2020-01-02 05:03] Togooroo commented on #102
Is this still up for grabs, I would like to make it if it's still available.

[2020-01-02 16:06] ellisonleao commented on #102
hey @Togooroo , thanks ! Sure, i am still making my own sketchups here, but feel free to send your ideas.

[2020-01-29 15:32] emilkowalski commented on #102
Can I still take it?

[2020-04-16 22:56] leanjunio commented on #102
Hey @ellisonleao, also looking to contribute here! Anything that I can do? Or you're still looking for ideas right now?

[2020-04-17 16:55] ellisonleao commented on #102
hey @leanjunio thanks for the help! I haven't started it yet, so any ideas will be highly appreciated

[2020-04-18 18:27] MAJIDNISAR opened #112 "Link not working"
I am using html5 and vanila javascript to create a simple page on github
where in i created a data table which uses js as a data source
to display, some of the audio files which are hosted using audio tag,
my data set  looks like this

` var dataSet = [
["000", "Introduction", "0.1", "Introduction to the translation By MirWaayiz: Umar Farooq", "<audio controls><source src=\"/Quran/000/1.mp3\" type

[2020-05-09 14:09] HoldOffHunger opened #114 "Viber Doesn't Work Anymore"
New viber documentation says not to use the URL format as indicated in this repo anymore: https://developers.viber.com/docs/tools/deep-links/

In addition, I have tested out both the old and new URL format.  Neither of them seem to produce any results in testing.  I have made a video of the results: https://www.youtube.com/watch?v=3NHb2J0swZ4&feature=youtu.be

Other URLs are fine.  Can someone els

[2020-05-09 15:24] HoldOffHunger opened #115 "Digg Doesn't Work Anymore"
Hey hey, try this url?  http://www.digg.com/submit

Or this one?  https://digg.com/submit?url=google.com

I'd like to make the fix and adjustment myself, and then submit a pull request.  I just wanted to make sure I'm not totally mistaken here before I do that.

[2020-05-10 18:42] HoldOffHunger opened #117 "Weibo Doesn't Work Anymore"
Wanted to get someone else's opinion on this, if possible.

Weibo's url:

    http://service.weibo.com/share/share.php?url={url}&appkey=&title={title}&pic={image}&ralateUid=

Official source has update this url: https://open.weibo.com/wiki/ShareCode

New format:

    http://vtsina.com.cn/share/share.php?url={url}&appkey=&title={title}&pic={image}&ralateUid=

Test results: The old format gives me a

[2020-05-10 19:05] HoldOffHunger opened #118 "Douban New URL Format"
Hey hey,

This is what I had been using for douban:

    http://www.douban.com/recommend/?url={url}&title={title}

This is now what works for me, though:

    http://www.douban.com/recommend/?name={title}&text={text}&comment={url}&href={url}

Thanks,

[2020-05-12 21:50] HoldOffHunger opened #119 "Telegram.me "To" Param Verifiability"
Hello, again,

Seems like there's some reason to doubt the functioning of the `to` parameter available for telegram.me.  I haven't had a chance to test this out yet, but there are a few confirmations that it doesn't work: https://github.com/bradvin/social-share-urls/pull/653

Let me know if we can confirm what's going on with the `to` value, many people seem to think that it works, too.

[2020-05-16 05:37] #118 closed

[2020-05-16 05:41] ellisonleao commented on #117
http://service.weibo.com/share/share.php is working for me. Can you check again please?

[2020-05-16 17:08] HoldOffHunger commented on #117
Oh, wow, it is back!

I very seriously tested the above URL, it's still in my browser history.  But yes, it's definitely working.  Glad I could get another pair of eyes on this!

Thanks for looking and verifying!

[2020-05-17 00:06] #117 closed

[2020-05-19 17:05] ShimantaBhuyan commented on #102
Hey @ellisonleao, I too would like to contribute for the new website. Can help in implementing the designs if you've made any.

[2020-05-19 17:08] ellisonleao commented on #102
hey @ShimantaBhuyan feel free to send some ideas! thanks

[2020-05-19 17:15] ShimantaBhuyan commented on #102
Sure @ellisonleao

[2020-05-21 16:27] ellisonleao opened #120 "testing bot"
@all-contributors please add @xmalinov  for code

[2020-05-23 05:16] twf-nikhila opened #121 "Implement Navigator.share capability"
I just stumbled on this js library, it's amazing.

It will be amazing if **Navigator.share()** can be implemented to this, almost no other social media share library has this feature and it will make this unique.

With websites moving toward mobile web & PWA having this is feature is must consider.

For more details check this https://developer.mozilla.org/en-US/docs/Web/API/Navigator/share

**Not

[2020-05-24 23:07] Sandy-Garrido opened #122 "Telegram doesn't seem to open up a window"
First of all - thank you sir for a wonderfully simple sharing script.

Telegram - I've got a row of 6 social buttons, all exactly the same, however telegram doesn't open a window.

Looking in console debugger, it looks like it loops through and knows that it's telegram and takes the info from the data tags but can't see what happens after that.

[2020-05-26 16:19] ellisonleao commented on #122
hey @Sandy-Garrido thanks for the report. Can you share some of the code you are trying, so i can check on my side please?

[2020-05-26 16:31] Sandy-Garrido commented on #122
Sure. I have tried it on your website too and the telegram doesn't load a window.

Below is the HTML which at this point I believe is enough to debug as I've not altered your script & the other buttons work fine.

Please let me know if you'll need anything else

[code]

[2020-05-30 05:04] ellisonleao commented on #114
I still see the current URL format in the [Share Button](https://developers.viber.com/docs/tools/share-button/#setting-up-the-viber-share-button) section. Maybe i am missing something?

[2020-05-30 05:05] #115 closed

[2020-05-30 05:07] #119 closed

[2020-05-30 13:56] HoldOffHunger commented on #114
Right, the documentation says it is supported, but my testing shows that it is not supported.  I haven't tested it since 21 days ago, though.

The page tested is sortwords.com (a demo site), with the url `viber://forward?text=sortwords.com`, as you can see from the video, clicking the link merely opens a blank message form in the app.  In that sense, the arguments are irrelevant, if you want to de

[2020-05-30 13:57] HoldOffHunger commented on #114
Wow, it is impossible to hyperlink Viber links in GitHub.  I'm sure that's not an omen. =)

[2020-06-01 02:18] ellisonleao commented on #114
ok i will remove viber for now. If we have a clear definition in the future, we can  always re add it

[2020-06-08 19:24] ellisonleao opened #123 "Port to ECMAScript 6"

[2020-06-12 19:58] ellisonleao commented on #122
hey @Sandy-Garrido sorry for the late response. I've able to reproduce it here, but i am waiting to push the fix together with the new code which is coming soon in `0.5.0` by porting the lib to ES6 #123

[2020-06-14 14:52] Sandy-Garrido commented on #123
Quick question on this. As I've been using the @latest import of your script.
Will I need to do anything in order for things to continue to run smoothly? If so what as I'm using it in multiple places.

Many thanks :)

[2020-06-15 16:23] ellisonleao commented on #123
Yeah, there will be some hard shifts, since the design has changed a little bit. I will get the specifics documented so everyone stays synced up. The main change is that now the user will have to start the share initialization, since that was the main issue from the current errors.

[2020-07-21 15:10] vd3d opened #128 "Facebook image"
Hi,

I have add the Facebook button to my website, but the publication that it create has a poor look, ie. only a link without any image neither content.

I was also looking here : https://developers.facebook.com/docs/plugins/share-button/?locale=fr_FR

And it seems that facebook allow the addition of an image link and a description, but I didn't find a way with Share.js

Is it possible ? If not,

[2020-07-22 16:32] ellisonleao commented on #128
hey @vd3d can you share some code so we can check ?

[2020-07-23 22:57] Onyx808 commented on #128
@vd3d have you tried adding the facebook meta tags to your page?

`<meta property="og:image" content="image_url_here.jpg"/>`

[2020-07-28 19:27] ellisonleao commented on #128
closing due to inactivity. Please feel free to reopen if needed

[2020-07-28 19:27] #128 closed

[2020-07-29 16:04] ellisonleao commented on #121
Closing this for now, since we have no plans to add that for now.

[2020-07-29 16:04] #121 closed

[2020-07-29 17:02] #112 closed

[2020-07-29 17:02] #114 closed

[2020-08-14 17:13] #123 closed

[2020-08-14 17:13] #122 closed

[2020-08-14 17:14] #102 closed

[2020-10-21 17:17] wr17 opened #146 "Sharing using chrome on android opens facebook website not the application"
I am using your library and I have a website when I click on the share on Facebook button it redirects me to the browser, not the native app even I have a Facebook application installed and I am logged in on Facebook.

I have tried Linkedin it opens the app.

[2020-10-28 19:39] ellisonleao commented on #146
i believe this is the right behaviour unfortunately. If you have more information on this feel free to open a PR so we can discuss it.

[2020-10-28 19:39] #146 closed

[2020-11-13 15:30] ellisonleao opened #153 "Hashtags must not contain spaces between them"

[2021-01-20 03:40] k0fi opened #165 "Please add Share on Signal button"
Hello,
Regarding that many people are migrating from Whatsapp to Singnal, that would be great if you add a  Share on Signal button.

Thank you.

[2021-01-20 19:56] k0fi opened #167 "Telegram button does not work"
Hello Ellison,
I'm using minified version of `@version 0.4.1`. All work but the telegram button does not open telegram web:

[code]

I tried the tag with `data-to="+44555-5555"` but that did not help.
I also tried `sharer.min.js version 1.0` . That did not work either.

Am I missing something or the API has changed?

[2021-01-22 15:10] ellisonleao commented on #165
hey @k0fi , i was researching the share links for signal but i cant find anything in the docs? is this something that still needs to be implemented ?

[2021-01-22 15:11] ellisonleao commented on #167
hey @k0fi , for telegram web you need to pass the `data-web=true` param. Can you check if that works for you? sorry if the docs are not clear, we still need to update it

[2021-03-23 05:09] kvs674 opened #179 "Copy window.location.href to clipboard"
Please add option for Copy URL .

like:
`<button class="button" data-sharer="Copy URL" data-url="https://ellisonleao.github.io/sharer.js/">Copy URL</button>`

Thanks

[2021-03-23 16:08] #167 closed

[2021-03-23 16:08] #165 closed

[2021-03-25 13:44] herrseiler opened #180 "Email data attribute not working!"
Recently I noticed that the share with email function no longer works. You press the button and nothing happens! Even on your doc website it doesn't open the mail client work.

`<button class="button" data-sharer="email" data-title="Awesome Url" data-url="https://ellisonleao.github.io/sharer.js/" data-subject="Hey! Check out that URL" data-to="some@email.com">Share via Email</button>`

Thanks!

[2021-04-16 07:02] ggcaponetto opened #185 "allow opening of the whatsapp sharing in a new tab"
I would like to open the whatsapp link in a new tab to avoid X-Frame-Options restrictions when the library is used inside an iframe.

[2021-04-19 12:08] alexlugouv commented on #24
Hi @ellisonleao, good job :)
Is it possible to remove the console.log when click on the Email button ?

Thank you

[2021-04-19 12:15] ellisonleao commented on #24
hey @alexlugouv we dont have any console msgs in the bumped code. What version are you using?

[2021-04-19 14:52] alexlugouv commented on #24
@ellisonleao, on https://ellisonleao.github.io/sharer.js/, when I click on Share via Email on Email block.

[2021-04-21 14:31] ellisonleao commented on #185
hey @ggcaponetto how are you creating the button?

[2021-04-22 08:44] ggcaponetto commented on #185
Hi @ellisonleao

i embedded it like this (React):

[code]

You can see the implementation (fb, email, twitter, linkedin) on this website [https://energiereporter.energyapps.ch/](https://energiereporter.energyapps.ch/)

[2021-05-22 19:18] #179 closed

[2021-07-23 21:41] #153 closed

[2021-08-03 18:19] #180 closed

[2021-09-05 02:43] ghnp5 opened #202 "Skype and Quora errors"
Sharing to Skype:

![image](https://user-images.githubusercontent.com/57591332/132113010-32475d56-371d-42df-8585-412a6d8f9ca3.png)

Sharing to Quora:

![image](https://user-images.githubusercontent.com/57591332/132113018-2588777c-2769-4a42-b920-6ca1bd80724a.png)

[2021-09-14 14:19] ellisonleao commented on #180
hey @herrseiler i've just tested it in the docs page and I got redirected in my gmail account for a new email msg. What browser are you using?

[2021-09-15 00:42] ellisonleao commented on #202
Quora is now removed and Skype seems to be working now. Please reopen if the issue remains

[2021-09-15 00:42] #202 closed

[2021-10-04 07:42] uzair004 opened #204 "Can't get rid of weird border"
Can't get rid of that weird border or outline around icons, can't even see in DOM.
I am using font awesome icons
tried setting border, outline none but nothing works

[2021-10-04 18:08] #204 closed

[2021-12-05 00:26] metapodcod commented on #115
digg still not working now , I tested it here, it doesn't work in your demo eitherhttps://ellisonleao.github.io/sharer.js/#digg  @ellisonleao @HoldOffHunger

[2021-12-12 03:14] metapodcod opened #215 "Digg Doesn't Work"
#115 digg still not working now , I tested it here, it doesn't work in your demo either https://ellisonleao.github.io/sharer.js/#digg

[2021-12-23 10:16] 3PSY0N opened #219 "WhatsApp redirects to the whatsapp website instead of opening a popup"
Hello,

As the title says, WhatsApp redirects to the whatsapp website instead of opening a popup, and the user has to click on the browser back button to return to my website.

Thanks!

[2021-12-23 12:26] 3PSY0N commented on #219
OK, i didn't understand the parameter `IsLink` for some services.
Can we pass isLink as bool barameter somewhere?

[2022-01-08 16:16] ellisonleao commented on #219
hey @3PSY0N how are you defining the sharer HTML element?

[2022-01-11 10:21] barnes-killianH commented on #219
Hello @3PSY0N i have the same probleme with whatsapp. I apply this modification. In library sharer.js you have have a test in prperty isLink

`if (!sharer.isLink) {
        var popWidth = sharer.width || 600,
          popHeight = sharer.height || 480,
          left = window.innerWidth / 2 - popWidth / 2 + window.screenX,
          top = window.innerHeight / 2 - popHeight / 2 + window.screenY,

[2022-01-11 10:28] barnes-killianH commented on #219
`if (!sharer.isLink) {
        var popWidth = sharer.width || 600,
          popHeight = sharer.height || 480,
          left = window.innerWidth / 2 - popWidth / 2 + window.screenX,
          top = window.innerHeight / 2 - popHeight / 2 + window.screenY,
          popParams = "scrollbars=no, width=" + popWidth + ", height="+ popHeight + ", top=" + top + ", left=" + left,
          newWindow = win

[2022-01-12 00:34] ellisonleao commented on #219
The original whatsapp sharer element is considered to be a link on all times, that's why it doesn't support opening the web link in a popup for now.  I will think about something but for now you can just try removing the [`isLink`](https://github.com/ellisonleao/sharer.js/blob/main/sharer.js#L112) here value here and use a custom code until i think in a fix

[2022-01-13 01:51] 3PSY0N commented on #219
Hello, thank you for reply, i use custom code for now, for exemple:

A temporary solution
[code]
Can be used with `data-islink="true|false"`

And for the html part
[code]

It's working for now.

Tell me if it's viable or not.

Thank you!

[2022-01-13 21:53] luis-fonseca commented on #219
Maybe it would be interesting to give the possibility to open in a new tab

[2022-01-17 20:35] luis-fonseca commented on #219
@ellisonleao

I needed to change how your library works for a project, so I added a data newTab attribute. Also, I made a change at the end of the script.

` <a href="#" data-sharer="whatsapp" data-title="Checkout Sharer.js!"
        data-url="https://ellisonleao.github.io/sharer.js/" data-web="data-web" data-new-tab="true">Whatsapp <i
          class="fab fa-whatsapp"></i></a>`

[code]

[2022-01-17 20:58] ellisonleao commented on #219
@luis-fonseca yep that's the idea, i will implement it soon and let you guy know

[2022-01-18 17:13] ellisonleao commented on #219
New version was pushed. To create a sharer as link you can use now:

[code]

where:
- data-web - will point the share to whatsapp web (remove if you want the old behaviour)
- data-link - will convert the sharer behaviour into a link
- data-blank - will make the link open the link in a new tab

Make sure to update to 0.5.0 version

[2022-01-18 17:13] #219 closed

[2022-01-18 17:13] ellisonleao commented on #215
Digg is now removed, thanks for the heads up

[2022-01-18 17:13] #215 closed

[2022-01-20 14:38] stuartcusackie opened #222 "Whatsapp: Couldn't open link on android"
Whatsapp sharing seems to work fine on desktop, but on android I get:
`"Couldn't open link".`

Here's my markup:

[code]

As you can see I am testing with the sample url in an attempt to fix the problem, but that doesn't work.

[2022-01-24 16:45] ellisonleao commented on #222
@stuartcusackie just pushed a fix for 0.5.1 and tested on my android device and it looks okay now.

[2022-01-24 17:08] stuartcusackie commented on #222
Works perfectly now. Thank you very much!

[2022-01-24 17:08] #222 closed

[2022-01-30 21:29] crowebar opened #224 "Linkedin Sharing "Something went wrong""
When attempting linked in sharing get the "Something went wrong" message

![Screen Shot 2022-01-30 at 6 00 00 pm](https://user-images.githubusercontent.com/25500327/151690093-11eff427-2dc1-4464-acf3-016d3d88c702.png)

I think the linked in sharing URL has changed...
https://www.linkedin.com/sharing/share-offsite/?url={url}

https://docs.microsoft.com/en-us/linkedin/consumer/integrations/self-serve

[2022-01-30 22:33] ellisonleao commented on #224
@crowebar thanks for the report! will update it

[2022-02-01 16:50] ellisonleao commented on #224
hey @crowebar that url is still being used at end in the current URL. Maybe something wrong with your test URL?
![Screenshot from 2022-02-01 13-48-09](https://user-images.githubusercontent.com/178641/152012841-48adf172-ab1a-449b-b6c6-548699bca48c.png)

[2022-02-01 20:40] crowebar commented on #224
I'll do some more testing, thanks

[2022-02-01 20:40] #224 closed

[2022-03-23 15:40] Kukmoon opened #230 "Would you like to add WeChat support?"
Dear author, I post the issue to ask you whether you would enable sharer.js to share to WeChat.

[2022-06-04 02:47] #230 closed

[2022-09-14 11:31] MilanBulatovic commented on #146
This is unfortunately still a problem. Still open browser. Any chance to be fixed?

[2022-10-10 08:13] bacloud23 opened #247 "Possibility to share an image in data URI scheme"
Hi, Thanks Ellison for providing this library !

Is it possible to share an image ? preferably having `data:image` ?

I already saw in examples for sharing on **Buffer** you are setting `data-picture` but I couldn't understand what's that about .

thanks

[2022-11-09 04:19] Bluestar123 opened #250 "如果手机安装了telegram，会唤起app，但是报错： 抱歉，该用户似乎不存在"
<img width="380" alt="image" src="https://user-images.githubusercontent.com/21274165/200737439-65559669-1893-4b61-9276-b716280009b7.png">

[2022-11-25 17:42] ellisonleao commented on #247
hey @bacloud23 not sure if any providers accepts base64 images due to security reasons, the current ones that accept `data-picture` params are using URLs

[2022-11-25 22:27] #247 closed